<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../components/nav.ejs') %>

    <main>
      <% if (errorMessage) { %>
        <p class="user-message error-message"><%= errorMessage %></p>
      <% } %>
      <form
        action="/admin/<%= editing ? 'edit' : 'add' %>-product"
        method="POST"
        class="product-form"
        novalidate
      >
        <p class="form-control">
          <label for="title">Title</label>
          <input
            class="<%= validationErrors.some(err => err.param === 'title') ? 'invalid' : '' %>"
            type="text"
            name="title"
            id="title"
            dir="auto"
            value="<%= product?.title %>"
          />
        </p>
        <p class="form-control">
          <label for="imageUrl">Image URL</label>
          <input
            class="<%= validationErrors.some(err => err.param === 'imageUrl') ? 'invalid' : '' %>"
            type="text"
            name="imageUrl"
            id="imageUrl"
            dir="auto"
            value="<%= product?.imageUrl %>"
          />
        </p>
        <p class="form-control">
          <label for="price">Price</label>
          <input
            class="<%= validationErrors.some(err => err.param === 'price') ? 'invalid' : '' %>"
            type="number"
            name="price"
            id="price"
            step="0.1"
            min="0"
            dir="auto"
            value="<%= product?.price %>"
          />
        </p>
        <p class="form-control">
          <label for="description">Description</label>
          <textarea
            class="<%= validationErrors.some(err => err.param === 'description') ? 'invalid' : '' %>"
            rows="5"
            name="description"
            id="description"
            dir="auto"
          >
            <%= product?.description ?? '' %>
          </textarea>
        </p>
        <input
          type="hidden"
          name="prodId"
          value="<%= editing && product?._id %>"
        />
        <button type="submit"><%= editing ? 'Update' : 'Add' %> Product</button>
      </form>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
