<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css" />
  </head>
  <body>
    <%- include('../components/nav.ejs') %>
    <main>
      <% if (orders.length === 0) { %>
      <h1>Nothing Yet!</h1>
      <% } else { %>
      <ul class="orders">
        <% orders.forEach(order => { %>
        <li class="orders__item">
          <h1>Order #<%= order._id %></h1>
          <ul class="orders__products">
            <% order.items.forEach(item => { %>
            <li class="orders__products-item">
              <%= item.title %> (<%= item.quantity %>) - $<%=
              item.price %>
            </li>
            <% }) %>
          </ul>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
