<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
</head>
<body>
    <%- include('../components/nav.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <p class="user-message error-message"><%= errorMessage %></p>
        <% } %>
        <form action="/new-password" method="POST" class="auth-form">
            <p class="form-control">
                <label for="newPassword">New Password</label>
                <input
                    type="password"
                    name="newPassword"
                    id="newPassword"
                    dir="auto"
                />
            </p>
            <input hidden name="userId" value="<%= userId %>">
            <input hidden name="passwordToken" value="<%= passwordToken %>">
            <button type="submit">Update Password</button>
        </form>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>